<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LogRootFolder" value="D:\LoggerTest" />
		<add key="LogFileNameFormat" value="{item_id}_{date}.log" />
	</appSettings>
</configuration>